Options -Indexes
DirectoryIndex index.php

Options -MultiViews

RewriteEngine On
RewriteBase /event/index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]


ErrorDocument 400 /event/public/error/400error.html
ErrorDocument 401 /event/public/error/401error.html
ErrorDocument 403 /event/public/error/403error.html
ErrorDocument 404 /event/public/error/404error.html
ErrorDocument 500 /event/public/error/500error.html